BODY {
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px;
	FONT-FAMILY: "微软雅黑", Arial, Helvetica, sans-serif;
	BACKGROUND: #fff repeat-x;
	FONT-SIZE: 12px;
	PADDING-TOP: 0px
}

fieldset {
	border: 1px solid #eee;
	padding-top: 10px;
	padding-bottom: 10px;
}

fieldset legend{
	font-weight: bold;
}

input{
	border: 1px solid #A4BED4;
}

#toolbarId {
	padding : 7px 0 0 7px;
	background-color: #e8edf5;
	height: 34px;
	margin: 0 auto;
}

#searchForm{
	padding-top: 3px;
	padding-bottom: 3px;
}

#searchForm table tr td input{
	width: 150px;
	height: 18px;
}