.toolbarId {
	padding: 7px 0 0 7px;
	background-color: #e8edf5;
	height: 34px;
	margin: 0 auto;
}

#searchForm {
	padding-bottom: 3px;
}

#searchForm table tr td input {
	width: 150px;
	height: 18px;
}

textarea {
	font-size: 12px;
	font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}