<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.common.login.mapper.MenuMapper">

	<select id="getMenuList" resultType="com.spring.common.login.model.Menu">
		SELECT
		app_menu.dbidkey,
		app_menu.parentdbidkey,
		app_menu.id,
		app_menu.name,
		app_menu.url,
		app_menu.isleaf,
		app_menu.status,
		app_menu.tabindex
		FROM app_menu
		order by app_menu.tabindex;
	</select>

	<select id="getMenuListByParam" parameterType="java.util.Map" resultType="com.spring.common.login.model.Menu">
		SELECT
		app_menu.dbidkey,
		app_menu.parentdbidkey,
		app_menu.id,
		app_menu.name,
		app_menu.url,
		app_menu.isleaf,
		app_menu.status,
		app_menu.tabindex
		FROM app_menu
		where 1=1
		<if test="parentDbIdKey != null">
			and app_menu.parentdbidkey = #{parentDbIdKey}
		</if>
		order by app_menu.tabindex;
	</select>

</mapper>