.icon-blank{
	background:url('icons/blank.gif') no-repeat;
}
.icon-add{
	background:url('icons/icon_add.png') no-repeat;
}
.icon-edit{
	background:url('icons/icon_edit.png') no-repeat;
}
.icon-remove{
	background:url('icons/icon_delete.png') no-repeat;
}
.icon-save{
	background:url('icons/icon_save.png') no-repeat;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat;
}
.icon-no{
	background:url('icons/no.png') no-repeat;
}
.icon-cancel{
	background:url('icons/icon_cancel.png') no-repeat;
}
.icon-nullify{
	background:url('icons/icon_nullify.png') no-repeat;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat;
}
.icon-search{
	background:url('icons/button_search.png') no-repeat;
}
.icon-print{
	background:url('icons/print.png') no-repeat;
}
.icon-help{
	background:url('icons/help.png') no-repeat;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat;
}
.icon-back{
	background:url('icons/back.png') no-repeat;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat;
}
.icon-reset{
	background:url('icons/button_reset.png') no-repeat;
}
.icon-log{
	background:url('icons/icon_log.png') no-repeat;
}
.icon-newfile{
	background:url('icons/icon_newfile.png') no-repeat;
}
.icon-upload{
	background:url('icons/icon_upload.png') no-repeat;
}
.icon-view{
	background:url('icons/icon_view.png') no-repeat;
}
.icon-undo{
	background:url('icons/icon_undo.png') no-repeat;
}
.icon-restore{
	background:url('icons/icon_restore.png') no-repeat;
}
.icon-submit{
	background:url('icons/icon_submit.png') no-repeat;
}
.icon-download{
	background:url('icons/icon_download.png') no-repeat;
}
.icon-delatt{
	background:url('icons/icon_delatt.png') no-repeat;
}
.icon-import{
	background:url('icons/icon_import.png') no-repeat;
}
.icon-tree-parent{
	background:url('icons/icon_tree_parent.png') no-repeat;
}
.icon-tree-children{
	background:url('icons/icon_tree_children.png') no-repeat;
}


.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat 2px 2px;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat 2px 2px;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat 3px 2px;
}